## Regular Expresion :
- A regular expression is a sequence of characters that specifies a search pattern in text. Usually such patterns are used by string-searching algorithms for "find" or "find and replace" operations on strings, or for input validation. 
# 
- Till the date regex was a bit complex for me to understanding, because I never focused much on this. Today I decided to give some hours to undertand the concept of regex. It was really intresting learning, most of the doubts and fear of regex have been gone now.
- So, Here I would like to share the youtube videos links from that I have learnt. It was really intresting videos.

[![YouTube Video Link](http://img.youtube.com/vi/fFNc4NLszCE/0.jpg)](http://www.youtube.com/watch?v=fFNc4NLszCE)
[![YouTube Video Link](http://img.youtube.com/vi/yOciEK0T-fE/0.jpg)](http://www.youtube.com/watch?v=yOciEK0T-fE)

### A must use tool for regex problem: 
https://regex101.com/

### Characters and Their use:

| Character | Description | Example|
| :---: | :---: | :---: |
| [ ] | A set of characters | "[a-z]"|
| \ | Signals a special sequence (can also beused to escape special characters)|"\d"|
|. |Any character (except newlinecharacter)|"ma..o"|
|^ |Starts with |"^hello"|
|* |Zero or more occurrences| "x*”…|
|+ |One or more occurrences| "x+”,…|
|\$ |Ends with |".com$"|
|{} |Exactly the specified number of occurrences|"x{2}"|
|\| |Either or |"yes|no"|
|? |Zero or one occurrences |“x?”|

#### Special Sequences A special sequence is a \ followed by one of the characters in the list below, and has a special meaning:
|Character| Description| Example|
|:---: | :---: | :---: |
|\d |Returns a match where the string contains digits (numbers from 0-9)|"\d"
|\D |Returns a match where the string DOES NOT contain digits| "\D"
|\s |Returns a match where the string contains a white space character| "\s"
|\S |Returns a match where the string DOES NOT contain a white space character| "\S"
|\w |Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the  derscore _ character)| "\w"
|\W |Returns a match where the string DOES NOT contain any word characters|"\w"
|\W| Returns a match where the string DOES NOT contain any word characters|"\W|


#### A set is a set of characters inside a pair of square brackets [ ] with a special meaning
|Set |Description|
|:---: | :---: |
|[abc]| Returns a match where one of the specified characters (a, b, or c) are present|
|[a-z] |Returns a match for any lower case character, alphabetically between a and z|
|[^abc] |Returns a match for any character EXCEPT a, b, and c|
|[0123]| Returns a match where any of the specified digits (0, 1, 2, or 3) are present|
|[0-9] |Returns a match for any digit between 0 and 9|
|[0-7][0-5] |Returns a match for any two-digit numbers from 00 and 75|
|[a-zA-Z] |Returns a match for any character alphabetically between a and z, lower case OR upper case|
|[+] |In sets, +, *, \., \|, \( ), $,{ } has no special meaning, so [+] means: return a match for any + character in the string|

In [368]:
import re

In [369]:
cricket_score = ''' Sachin scores 76 and Dravid scores 40 and Rohit scores 98 and Dhoni scores 99'''
# find the name and score
name = re.findall('[A-Z][a-z]*',cricket_score)
name

['Sachin', 'Dravid', 'Rohit', 'Dhoni']

# Extracting digit
- `'\d'` : find every digit of numbers i.e. 123...then 1, 2,3
- `'\d\d'` or `\d{2}` or `\d{1,3}`: find two digit of numer i.e. 123456...then 12, 34, 56

In [370]:
# method to extract number digit
age = re.findall('\d\d',cricket_score)
age,re.findall('\d{2}',cricket_score),re.findall('\d{1,3}',cricket_score)

(['76', '40', '98', '99'], ['76', '40', '98', '99'], ['76', '40', '98', '99'])

In [371]:
# creating a dict of name and score
cric_dic ={}
i = 0
for x in name:
    cric_dic[x] = age[i]
    i += 1
print(cric_dic)

{'Sachin': '76', 'Dravid': '40', 'Rohit': '98', 'Dhoni': '99'}

# Search(): return a match object if matched

In [372]:
str = 'This is Python regex, Python, Python'

In [373]:
# search word in str
if re.search('Python',str):
    print('Found!!')

Found!!

In [374]:
# search word in str with no of occurences
if re.search('Python',str):
    print('Found!!')
    match = re.findall('Python',str) # return as a list
    print(match)
    for i in match: # itreting the list
        print(i)

Found!!
['Python', 'Python', 'Python']
Python
Python
Python

In [375]:
for i in re.finditer('Python',str):
    index = i
    print(index) # get the start and end index as an object
    print(index.span()) # get a tule of index

<re.Match object; span=(8, 14), match='Python'>
(8, 14)
<re.Match object; span=(22, 28), match='Python'>
(22, 28)
<re.Match object; span=(30, 36), match='Python'>
(30, 36)

In [376]:
# find data start with R/C/M and having 'at' 
str2 = 'Rat Cat Mat, Pat, Sat, Hat'
re.findall('[RCM]at',str2)

['Rat', 'Cat', 'Mat']

In [377]:
# find data which not start with R/C
re.findall('[^RC]at',str2)

['Mat', 'Pat', 'Sat', 'Hat']

In [378]:
# find the data which starts from A to M
print(re.findall('[A-M]',str2))
print(re.findall('[A-M]at',str2))

['C', 'M', 'H']
['Cat', 'Mat', 'Hat']

In [379]:
# find the data which not starts from A to M
print(re.findall('[^A-M]',str2))
print(re.findall('[^A-M]at',str2))

['R', 'a', 't', ' ', 'a', 't', ' ', 'a', 't', ',', ' ', 'P', 'a', 't', ',', ' ', 'S', 'a', 't', ',', ' ', 'a', 't']
['Rat', 'Pat', 'Sat']

In [380]:
print(re.findall('[A-M]at',str2))
print(re.findall('[^N-Z]at',str2))

['Cat', 'Mat', 'Hat']
['Cat', 'Mat', 'Hat']

In [381]:
# find and replace with new word
print(str2)
reg = re.compile('[H]at')
# print(reg)
str2 = reg.sub('Lion',str2)
str2

Rat Cat Mat, Pat, Sat, Hat

'Rat Cat Mat, Pat, Sat, Lion'

In [382]:
# convert multiline string to one line
str3 = """This is a multiline 
str, 
going to convert it 
in one line"""
print(str3)
reg = re.compile('\n') # find the new \n
str3 = reg.sub(' ',str3)
print("\n",str3)

This is a multiline
str,
going to convert it
in one line

 This is a multiline  str,  going to convert it  in one line

In [383]:
# \d: contain only numerical value
a = " this is python 3.10.431 1021212 version!!"
print("This digits are in str",re.findall('\d',a))
print("This digits are in str",re.findall('[2]',a))# return if 2 found every time
print("This digits are in str",re.findall('\d[2]',a))# returns two digit if 2 found after any one digit
print("This digits are in str",re.findall('\d\d[2]',a))# returns three digit if 2 found after any two digit
print("This digits are in str",re.findall('[2]\d',a))# returns two digit if 2 found before any digit
print("This digits are in str",re.findall('[4]\d\d',a))# returns three digit if 4 found before any two digit
print("This digits are in str",re.findall('\d[2]\d',a))# returns three digit if 2 found between two digit

This digits are in str ['3', '1', '0', '4', '3', '1', '1', '0', '2', '1', '2', '1', '2']
This digits are in str ['2', '2', '2']
This digits are in str ['02', '12', '12']
This digits are in str ['102', '212']
This digits are in str ['21', '21']
This digits are in str ['431']
This digits are in str ['021']

In [384]:
text = '''Tata Limited
Dr. David  Landsman, executive director
18, Grosvenor Place
London SW1X  7HSc
Phone: +44 (20) 7235 8281
Fax: +44 (20) 7235 8727
Email: tata@tata.co.uk
Website:  www.europe.tata.com
Directions: View map'''

In [385]:
# extract only phone no from text
print(re.findall('[+]\d\d \(\d\d\) \d* \d*',text))

['+44 (20) 7235 8281', '+44 (20) 7235 8727']

In [386]:
print(re.findall('[+]\d{2} \(\d{2}\) \d{4} \d{4}',text))

['+44 (20) 7235 8281', '+44 (20) 7235 8727']

In [387]:
print(re.findall('[+]\d{2} \(\d{2}\) \d{4} \d{4}',text))

['+44 (20) 7235 8281', '+44 (20) 7235 8727']

In [388]:
a = re.split(r'[\n .,:+()@]',text)
b = []
for i in a:
    if i!='':
        b.append(i)
print(b)

['Tata', 'Limited', 'Dr', 'David', 'Landsman', 'executive', 'director', '18', 'Grosvenor', 'Place', 'London', 'SW1X', '7HSc', 'Phone', '44', '20', '7235', '8281', 'Fax', '44', '20', '7235', '8727', 'Email', 'tata', 'tata', 'co', 'uk', 'Website', 'www', 'europe', 'tata', 'com', 'Directions', 'View', 'map']

In [405]:
# extract email
mail = 'ayadavsantosh298@gmail.com'
re.findall('[a-zA-Z][a-zA-Z0-9]*@[a-z]*.[a-z]{1,5}.[a-z]{1,5}$',mail)

['ayadavsantosh298@gmail.com']

In [ ]:
a = 'yadavsantosh298@gmail.com'

In [ ]:
# find email address
email = re.findall('[a-zA-Z0-9]*@[a-z]*.[a-z]*',a)
email[0]

# ## email validation
email2 = 'abc1111@asd.com'
if re.search('[a-zA-Z0-9]*@[a-z]*.[a-z]*',email2): print('Valid Email!!')
else : print('Not Valid Email!!')

In [ ]:
# phone no validation
phone = '+44 (20) 7235 1008'
if re.search('[+]\d{2} \(\d{2}\) \d{4} \d{4}',phone):print('Valid!!!')
else: print('Not Valid!!')

In [ ]:
email validatoin

In [ ]:
# mobile no validation
mob = '77788899900'
re.findall('^[7-9][0-9]{9}',mob)

In [434]:
# name validation
name = 'Mahendra Singh Dhoni'
re.findall('[A-Z]{1,4}[a-z]*\s[A-Z]{1}[a-z]*',name)

['Mahendra Singh']

In [435]:
re.findall('\w{2,20}\s\w{2,20}',name)

['Mahendra Singh']

In [416]:
if re.search('[A-Z]{1}[a-z]* [A-Z]{1}[a-z]*',name):
    print('Valid')

Valid

In [445]:
re.findall('[A-Za-z]+',name) # here only those words come have altleast one word

['Mahendra', 'Singh', 'Dhoni']

In [447]:
re.findall('[A-Za-z]*',name) # here everything will come like space, comma special chars

['Mahendra', '', 'Singh', '', 'Dhoni', '']

In [456]:
re.findall('^[A-Z][a-z]+\s[a-zA-Z]+',name) # starts with Uppercase and at least one char

['Mahendra Singh']

In [459]:
re.findall('^[A-Z][a-z]{4,10}\s[a-zA-Z]+',name)

['Mahendra Singh']

In [470]:
re.findall('^[A-Z][a-z]?\s[a-zA-Z]+','Sa Kumar')

['Sa Kumar']

In [478]:
re.findall('^[SANTOSH]+\s[a-zA-Z]+','SANTOSH Kumar')

['SANTOSH Kumar']

In [467]:
name = 'Nitin Sharma Singh Mitin Sharma'
re.findall('^[N|S][a-z]{4,10}\s[a-zA-Z]+',name)

['Nitin Sharma']

In [481]:
re.findall('\d','qwq2344!@') # return only digit

['2', '3', '4', '4']

In [482]:
re.findall('\D','qwq2344!@') # return except digit, digit exclude

['q', 'w', 'q', '!', '@']

In [484]:
re.findall('\s','qwq2 344!@') # return if there any whitespace

[' ']

In [487]:
re.findall('\S','qwq2 344!@') # whitespace exclude

['q', 'w', 'q', '2', '3', '4', '4', '!', '@']

In [488]:
re.findall('\w','qwq2 344!@') # return only alpha numeric, \w = [A-Za-z0-9]

['q', 'w', 'q', '2', '3', '4', '4']

In [489]:
re.findall('\W','qwq2 344!@') #exclude alpha numeric \w =  [^A-Za-z0-9]

[' ', '!', '@']

In [495]:
re.findall('[python]+','I love python') # Returns a match where one of the specified characters are present

['o', 'python']

In [496]:
re.findall('[a-z]+','I love python') # returns all lower case words

['love', 'python']

In [497]:
re.findall('[^python]+','I love python') # return except any word in python

['I l', 've ']

In [506]:
re.findall('[123]{1,4}','987 345 1256123123')

['3', '12', '1231', '23']

In [516]:
re.findall('[0-3][0-5]','1223') # first digit can be 0-3 and second digit 0-5

['12', '23']

In [522]:
re.findall('[python]+','I love python') # return except any word in python

['o', 'python']